openapi: 3.1.0
info:
  version: 0.10.0
  title: Berufscode API
  description: |
    🇩🇪 Beschreibt die gegenüber einem ERP angebotenen Schnittstellen auf Seite Suva für die Pflege der Berufscodes.
    🇬🇧 Describes the interfaces offered to an ERP system by Suva for maintaining occupational codes.
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://apitest.suva.ch/occupation-codes
    description: Staging server
  - url: https://api.suva.ch/occupation-codes
    description: Production server
  - url: https://apitest.suva.ch/mock/occupation-codes
    description: Staging mock server
  - url: https://api.suva.ch/mock/occupation-codes
    description: Production mock server

tags:
  - name: Suva Occupation Codes
  - name: ISCO Occupation Types
  - name: Occupation Codes
  - name: Company Parts
  - name: Events

paths:
  /v1/suva-occupation-codes:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"

    get:
      description: |
        🇩🇪 Liefert alle von der Suva bereitgestellten branchenüblichen Berufscodes mit der Zuordnung zu der ISCO-Berufsart.
        🇬🇧 Provides all industry standard occupation codes provided by Suva, with the assignment to the ISCO type of profession.
      tags:
        - Suva Occupation Codes
      security:
        - ApiKeyAuth: [ ]
      operationId: getSuvaOccupationCodes
      responses:
        "200":
          description: |
            🇩🇪 Liste von Suva-Berufscodes.
            🇬🇧 List of Suva occupation codes.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SuvaOccupationCode"

  /v1/isco-occupation-types:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"

    get:
      description: |
        🇩🇪 Liefert alle in der Suva unterstützen ISCO-Berufsarten.
        🇬🇧 Provides all ISCO occupation types supported by the Suva.
      tags:
        - ISCO Occupation Types
      security:
        - ApiKeyAuth: [ ]
      operationId: getIscoOccupationTypes
      parameters:
        - $ref: "#/components/parameters/PremiumYear"
      responses:
        "400":
          $ref: "#/components/responses/BadRequestError"
        "200":
          description: |
            🇩🇪 Liste von ISCO-Berufsarten und zugeordnete Risiko-Klassen.
            🇬🇧 List of ISCO occupation types and associated risk classes.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IscoOccupationType"

  /v1/company-parts:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"

    get:
      description: |
        🇩🇪 Liefert die Betriebsteil-Situation für alle Betriebsteile (ggf. auch Betriebsteile die keine Personalverleih-Tätigkeiten durchführen).
        🇬🇧 Provides the profiles for all company parts (possibly also company parts that do not carry out temporary work agency activities).
      tags:
        - Company Parts
      security:
        - ApiKeyAuth: [ ]
      operationId: getCompanyPartProfiles
      parameters:
        - $ref: "#/components/parameters/PremiumYear"
      responses:
        "400":
          $ref: "#/components/responses/BadRequestError"
        "200":
          description: |
            🇩🇪 Liste von Betriebsteil-Situationen.
            🇬🇧 List of company part profiles.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CompanyPartProfile"

  /v1/occupation-codes:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"

    get:
      description: |
        🇩🇪 Liefert alle Berufscodes (Individuell und Suva) zu dem angemeldeten Personalverleiher.
        🇬🇧 Provides all occupation codes (individual and Suva) for the registered temporary work agency provider.
      tags:
        - Occupation Codes
      security:
        - ApiKeyAuth: [ ]
      operationId: getOccupationCodes
      responses:
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "200":
          description: |
            🇩🇪 Liste von Berufscodes.
            🇬🇧 List of occupation codes.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OccupationCode"

    put:
      description: |
        🇩🇪 Einen Berufscode aus den Suva-Berufscodes hinzufügen.
        🇬🇧 Add an occupation code from the list of Suva occupation codes.
      tags:
        - Occupation Codes
      security:
        - ApiKeyAuth: [ ]
      operationId: activateOccupationCode
      requestBody:
        description: |
          🇩🇪 Der hinzuzufügende Suva-Berufscode.
          🇬🇧 The Suva occupation code to be added.
        required: true
        content:
          application/json:
            schema:
              title: OccupationCodeActivation
              type: object
              properties:
                suvaOccupationCodeId:
                  $ref: "#/components/schemas/SuvaOccupationCodeId"
                occupationCodeNumber1:
                  $ref: "#/components/schemas/OccupationCodeNumber"
                occupationCodeNumber2:
                  $ref: "#/components/schemas/OccupationCodeNumber"
              required:
                - suvaOccupationCodeId
      responses:
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OccupationCode"

    post:
      description: |
        🇩🇪 Einen individuellen Berufscode einreichen.
        🇬🇧 Submit an individual occupation code.
      tags:
        - Occupation Codes
      security:
        - ApiKeyAuth: [ ]
      operationId: submitOccupationCode
      requestBody:
        description: |
          🇩🇪 Der individuelle Berufscode inklusive führender Sprache.
          🇬🇧 The individual occupation code including leading language.
        required: true
        content:
          application/json:
            schema:
              title: SubmitOccupationCode
              type: object
              properties:
                occupationCodeNumber1:
                  $ref: "#/components/schemas/OccupationCodeNumber"
                occupationCodeNumber2:
                  $ref: "#/components/schemas/OccupationCodeNumber"
                preferredLanguage:
                  $ref: "#/components/schemas/Language"
                descriptions:
                  type: array
                  minItems: 1
                  items:
                    $ref: "#/components/schemas/OccupationDescription"
              required:
                - preferredLanguage
                - descriptions
      responses:
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "422":
          $ref: "#/components/responses/UnprocessableContentError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                title: OccupationCodeSubmitted
                type: object
                properties:
                  eventId:
                    $ref: "#/components/schemas/EventId"

  /v1/occupation-codes/{occupationCodeId}:
    parameters:
      - $ref: "#/components/parameters/OccupationCodeId"
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"

    delete:
      description: |
        🇩🇪 Der Berufscode wird bei Suva auf das aktuelle Datum deaktiviert. Eine erneute Aktivierung ist jederzeit wieder möglich.
        🇬🇧 The occupation code will be deactivated at Suva on the current date. Reactivation is possible at any time.
      tags:
        - Occupation Codes
      security:
        - ApiKeyAuth: [ ]
      operationId: deactivateOccupationCode
      responses:
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "204":
          description: Berufscode deaktiviert.

    put:
      description: |
        🇩🇪 Einen Suva-Berufscode oder individuellen Berufscode aktualisieren.
        🇬🇧 Update a Suva occupation code or an individual occupation code.
      tags:
        - Occupation Codes
      security:
        - ApiKeyAuth: [ ]
      operationId: updateOccupationCode
      requestBody:
        description: |
          🇩🇪 Der Suva-Berufscode oder individuelle Berufscode.
          🇬🇧 The Suva occupation code or the individual occupation code.
        required: true
        content:
          application/json:
            schema:
              title: UpdateOccupationCode
              type: object
              properties:
                occupationCodeNumber1:
                  $ref: "#/components/schemas/OccupationCodeNumber"
                occupationCodeNumber2:
                  $ref: "#/components/schemas/OccupationCodeNumber"
              required:
                - occupationCodeNumber1
                - occupationCodeNumber2
      responses:
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "200":
          description: Berufscode aktualisiert.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OccupationCode"

  /v1/events:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"

    get:
      description: >-
        🇩🇪 Abfrage aller nicht quittierten Events für die Informationen vorliegen (EventStatus == processed).
        🇬🇧 Query of all unacknowledged events where data is present (EventStatus == processed).
      tags:
        - Events
      operationId: getEvents
      security:
        - ApiKeyAuth: [ ]
      responses:
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "200":
          description: |
            🇩🇪 Liste von Events.
            🇬🇧 List of events.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"

  /v1/events/{eventId}:
    parameters:
      - $ref: "#/components/parameters/EventId"
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"

    get:
      description: |
        🇩🇪 Abfrage eines spezifischen Events.
        🇬🇧 Query of a specific event.
      tags:
        - Events
      operationId: getEvent
      security:
        - ApiKeyAuth: [ ]
      responses:
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "200":
          description: Der angefragte Event.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"

    delete:
      description: |
        🇩🇪 Wird ein offener Event quittiert, wird dieser nicht mehr in <a href="#operations-Events-getEvents">/v1/events</a> aufgeführt.
        🇬🇧 Once an open event is acknowledged, it will no longer be listed in <a href="#operations-Events-getEvents">/v1/events</a>.
      tags:
        - Events
      operationId: acknowledgeEvent
      security:
        - ApiKeyAuth: [ ]
      responses:
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/UnprocessableContentError"
        "204":
          description: |
            🇩🇪 Der Event ist quittiert.
            🇬🇧 The event is acknowledged.

components:
  parameters:
    PremiumYear:
      name: year
      description: |
        🇩🇪 Prämienjahr, muss zwischen 2025 und dem nächsten Kalenderjahr liegen (Default: Kalenderjahr)
        🇬🇧 Premium year, must be between 2025 and the next calendar year (default: calendar year).
      in: query
      schema:
        $ref: "#/components/schemas/PremiumYear"

    OccupationCodeId:
      name: occupationCodeId
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/OccupationCodeId"

    EventId:
      name: eventId
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/EventId"

    # headers
    X-Client-Vendor:
      name: X-Client-Vendor
      in: header
      description: |
        🇩🇪 Name des Herstellers der Client-Anwendung.
        🇬🇧 Name of the vendor responsible for the client application.
      required: false
      schema:
        type: string
      example: "Acme Corporation"

    X-Client-Name:
      name: X-Client-Name
      in: header
      description: |
        🇩🇪 Produkt-Name der Client-Anwendung.
        🇬🇧 Product name of the client application.
      required: false
      schema:
        type: string
      example: "PayrollPro"

    X-Client-Version:
      name: X-Client-Version
      in: header
      description: |
        🇩🇪 Version der Anwendung.
        🇬🇧 Version of the application.
      required: false
      schema:
        type: string
      example: "2.5"

  responses:
    BadRequestError:
      description: |
        🇩🇪 Anfrage kann nicht verarbeitet werden.
        🇬🇧 Request cannot be processed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    NotAuthenticatedError:
      description: |
        🇩🇪 Keine gültigen Authentifizierungsdaten für die angeforderte Ressource vorhanden.
        🇬🇧 No valid authentication data available for the requested resource.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    NotFoundError:
      description: |
        🇩🇪 Die angeforderte Resource konnte nicht gefunden werden.
        🇬🇧 The requested resource could not be found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    UnprocessableContentError:
      description: |
        🇩🇪 Die Anfrage konnte nicht verarbeiten werden, da sie ungültige Daten enthält.
        🇬🇧 The request could not be processed because it contains invalid data.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    # suva occupation code
    SuvaOccupationCode:
      description: |
        🇩🇪 Suva-Berufscode
        🇬🇧 Suva occupation code
      type: object
      properties:
        id:
          $ref: "#/components/schemas/SuvaOccupationCodeId"
        descriptions:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/OccupationDescription"
        iscoOccupationTypeId:
          $ref: "#/components/schemas/IscoOccupationTypeId"
      required:
        - id
        - descriptions
        - iscoOccupationTypeId
    
    SuvaOccupationCodeId:
      description: |
        🇩🇪 ID für einen Suva-Berufscode.
        🇬🇧 ID for a Suva occupation code.
      type: string

    # isco occupation type
    IscoOccupationType:
      description: |
        🇩🇪 ISCO-Berufsart
        🇬🇧 ISCO occupation type
      type: object
      properties:
        id:
          $ref: "#/components/schemas/IscoOccupationTypeId"
        companyPartCode:
          $ref: "#/components/schemas/CompanyPartCode"
        subclassSection:
          $ref: "#/components/schemas/SubclassSection"
      required:
        - id
        - companyPartCode
        - subclassSection
    
    IscoOccupationTypeId:
      description: |
        🇩🇪 5-Stellige Nummer für Berufsarten aus der Schweizer Berufsnomenklatur.
        🇬🇧 5-digit number for occupation type from the Swiss professional nomenclature.
      type: integer

    # occupation code
    OccupationCode:
      description: |
        🇩🇪 Berufscode (Individuell oder Suva)
        🇬🇧 Occupation code (individual or Suva)
      type: object
      properties:
        id:
          $ref: "#/components/schemas/OccupationCodeId"
        occupationCodeNumber1:
          $ref: "#/components/schemas/OccupationCodeNumber"
        occupationCodeNumber2:
          $ref: "#/components/schemas/OccupationCodeNumber"
        descriptions:
          type: array
          items:
            $ref: "#/components/schemas/OccupationDescription"
        suvaOccupationCode:
          $ref: "#/components/schemas/SuvaOccupationCode"
        active:
          $ref: "#/components/schemas/OccupationCodeActive"
      required:
        - id

    OccupationCodeId:
      description: |
        🇩🇪 ID für einen Berufscode.
        🇬🇧 ID of an occupation code.
      type: string
      format: uuid

    # company part
    CompanyPartProfile:
      description: |
        🇩🇪 Betriebsteil-Situation
        🇬🇧 Profiles for a company part
      type: object
      properties:
        companyPartCode:
          $ref: "#/components/schemas/CompanyPartCode"
        iscoOccupationTypeIds:
          description: |
            🇩🇪 Liste von ISCO-Berufsarten.
            🇬🇧 List of ISCO occupation types.
          type: array
          items:
            $ref: "#/components/schemas/IscoOccupationTypeId"
        temporalProfiles:
          description: |
            🇩🇪 Liste von Betriebsteil-Zuständen.
            🇬🇧 List of company part states.
          type: array
          items:
            $ref: "#/components/schemas/CompanyPartTemporalProfile"
      required:
        - companyPartCode
    
    CompanyPartCode:
      description: |
        🇩🇪 Betriebsteil-Code (BT-Code)
        🇬🇧 Company part code
      type: string
      minLength: 1
      maxLength: 1
    
    CompanyPartTemporalProfile:
      description: |
        🇩🇪 Betriebsteil-Zustand
        🇬🇧 Company part state
      type: object
      properties:
        from:
          type: string
          format: date
        upto:
          type: string
          format: date
        subclassSection:
          $ref: "#/components/schemas/SubclassSection"
        descriptions:
          description: |
            🇩🇪 Betriebsteil-Bezeichnungen
            🇬🇧 Company part description
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/LocalizedValue"
        premiums:
          $ref: "#/components/schemas/GrossPremium"
      required:
        - from
        - upto
        - subclassSection
        - descriptions

    # events
    Event:
      description: |
        🇩🇪 Ein Event
        🇬🇧 An event
      type: object
      properties:
        id:
          $ref: "#/components/schemas/EventId"
        timestamp:
          description: |
            🇩🇪 Ereigniszeitpunkt
            🇬🇧 Event occurrence time
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/EventStatus'
        detail:
          oneOf:
            - $ref: "#/components/schemas/EventOccupationCodeSubmitted"
            - $ref: "#/components/schemas/EventIscoOccupationTypeChanged"
            - $ref: "#/components/schemas/EventGrossPremiumChanged"
          discriminator:
            propertyName: eventType

    EventId:
      description: |
        🇩🇪 ID für einen Event.
        🇬🇧 ID of an event.
      type: string
      format: uuid

    OccupationCodeSubmittedDecision:
      description: |
        🇩🇪 Ergebnis des Event.
        - `accepted` Die Berufscode-Anfrage wurde erfolgreich verarbeitet und gemappt.
        - `rejected` Die Berufscode-Anfrage wurde abgebrochen oder gelöscht.
        
        🇬🇧 Result of the event.
        - `accepted` The submission of the occupation code was successfully processed and mapped.
        - `rejected` The submission of the occupation code was cancelled or deleted.
      type: string
      enum: [ accepted, rejected ]

    EventStatus:
      description: |
        🇩🇪 Status des Event.
        - `created`:  Event wurde erstellt, Prozess für Verarbeitung wurde angestossen.
        - `processed`: Event wurde verarbeitet, es liegen Ergebnisse vor. Event ist in der Auflistung unter <a href="#operations-Events-getEvents">/v1/events</a>.
        - `acknowledged`: Event wurde quittiert. Quittierte Events werden nicht mehr in <a href="#operations-Events-getEvents">/v1/events</a> aufgeführt. Quittierte Events werden nach 30 Tagen aus dem System gelöscht.

        🇬🇧 Status of an event.
        - `created`: Event has been created, and the processing has been initiated.
        - `processed`: Event has been processed and results are available. Event is listed under <a href="#operations-Events-getEvents">/v1/events</a>.
        - `acknowledged`: Event has been acknowledged. Acknowledged events are no longer listed in <a href="#operations-Events-getEvents">/v1/events</a>. Acknowledged events are deleted from the system after 30 days.

      type: string
      enum: [ created, processed, acknowledged ]

    EventOccupationCodeSubmitted:
      description: |
        🇩🇪 Ergebnis zu "Einreichen eines Berufscodes".
        🇬🇧 Result for "Submitting an occupation code".
      type: object
      properties:
        eventType:
          type: string
        occupation:
          description: |
            🇩🇪 Wenn das Property `decision` den Wert `rejected` hat, ist `occupation` immer `null`.
            
            🇬🇧 If the property `decision` is set to `rejected`, `occupation` will always be `null`.
          $ref: "#/components/schemas/OccupationCode"
        decision:
          $ref: "#/components/schemas/OccupationCodeSubmittedDecision"
      required:
        - eventType

    EventIscoOccupationTypeChanged:
      description: |
        🇩🇪 Ein für den Kunden aktiver ISCO-Berufsart wurde von der Suva einem neuen Risiko (UKT) zugeordnet. Tätigkeiten mit dem geänderten Risiko erhalten potentiell dabei anderen Prämiensätze.
        Der Wechsel vom einer ISCO-Berufsart zu einem neuen Risiko erfolgt immer für ein ganzes Prämienjahr in der Zukunft.

        🇬🇧 An ISCO occupation type active for the customer has been assigned a new risk (UKT) by the Suva. Activities with the changed risk may potentially receive different premium rates.
        The change from one ISCO occupational occupation type to a new risk always takes effect for a full premium year in the future.
      type: object
      properties:
        eventType:
          type: string
        premiumYear:
          $ref: "#/components/schemas/PremiumYear"
        iscoOccupationType:
          $ref: "#/components/schemas/IscoOccupationType"
      required:
        - eventType
    
    EventGrossPremiumChanged:
      description: |
        🇩🇪 Von der Suva wurde für ein Produkt ein neuer Prämiensatz verfügt.
        🇬🇧 Suva has ordered a new premium rate for a product.
      type: object
      properties:
        eventType:
          type: string
        premiumYear:
          $ref: "#/components/schemas/PremiumYear"
        companyPartCode:
          $ref: "#/components/schemas/CompanyPartCode"
        product:
          $ref: "#/components/schemas/Product"
      required:
        - eventType

    # commons
    OccupationDescription:
      description: |
        🇩🇪 Sprach- und geschlechtsspezifische Berufsbezeichnung.
        🇬🇧 Language- and gender-specific occupation description.
      allOf:
        - $ref: "#/components/schemas/LocalizedValue"
        - type: object
          properties:
            gender:
              $ref: "#/components/schemas/Gender"
      required:
        - language
        - gender
        - value

    GrossPremium:
      description: |
        🇩🇪 Bruttoprämiensätze (BPS)
        🇬🇧 Gross premium rates (BPS)
      type: object
      properties:
        occupationalAccidentInsurance:
          description: |
            🇩🇪 Berufsunfallversicherung (BUV)
            🇬🇧 Occupational accident insurance (BUV)
          type: number
          format: float
        nonOccupationalAccidentInsurance:
          description: |
            🇩🇪 Nichtberufsunfallversicherung (NBUV)
            🇬🇧 Non occupational accident insurance (NBUV)
          type: number
          format: float
      required:
        - occupationalAccidentInsurance
        - nonOccupationalAccidentInsurance

    LocalizedValue:
      description: |
        🇩🇪 Ein sprachbezogener Wert.
        🇬🇧 A language-specific value.
      type: object
      properties:
        language:
          $ref: "#/components/schemas/Language"
        value:
          type: string
          maxLength: 255
      required:
        - language
        - value

    OccupationCodeActive:
      description: |
        🇩🇪 Gibt an, ob ein Berufscode aktiv ist oder nicht.
        🇬🇧 Indicates whether an occupation code is active or not.
      type: boolean

    SubclassSection:
      description: |
        🇩🇪 Schlüssel für den Unterklassenteil (UKT)
        Unterklassenteile sind Risikogemeinschaften mit gleichartigem Unfallrisiko.
        siehe [Prämientarif der Suva](https://www.suva.ch/2925-25.D) und [Basissätze](https://www.suva.ch/335-24.D)

        🇬🇧 Key for subclass section (UKT)
        Subclass sections are risk communities with similar accident risks.
        See [Prämientarif der Suva](https://www.suva.ch/2925-25.D) and [Basissätze](https://www.suva.ch/335-24.D)
      type: string

    PremiumYear:
      description: |
        🇩🇪 Prämienjahr (Standard: Kalenderjahr)
        🇬🇧 Premium year (default: calendar year)
      type: integer
      minimum: 2000
      maximum: 3000

    Gender:
      description: |
        🇩🇪 Geschlecht
        🇬🇧 Gender
      type: string
      enum: [ female, genderless, male ]

    Language:
      description: |
        🇩🇪 Sprache
        🇬🇧 Language
      type: string
      enum: [ de, fr, it, en ]

    Product:
      description: |
        🇩🇪 Produkt: Berufsunfallversicherung (BUV), Nichtberufsunfallversicherung (NBUV)
        🇬🇧 Product: Occupational accident insurance (BUV), Non occupational accident insurance (NBUV)
      type: string
      enum: [ buv, nbuv ]

    OccupationCodeNumber:
      description: |
        🇩🇪 Individueller Schlüssel zur Kennzeichnung des Berufscodes.
        🇬🇧 Individual key for identifying the occupation code.
      maxLength: 40
      type: string

    Error:
      description: |
        🇩🇪 Fehlermeldung
        🇬🇧 Error message
      properties:
        message:
          description: |
            🇩🇪 Die in englischer Sprache gelieferte Fehlermeldung. Beispiel: 'Occupation code with id '00000000-0000-0000-0000-000000000000' not found'.
            🇬🇧 Error message provided in English. Example: 'Occupation code with id '00000000-0000-0000-0000-000000000000' not found'.
          type: string
        id:
          description: |
            🇩🇪 Eindeutige ID der Fehlermeldung. Beispiel: Zwei Fehlermeldungen 'Occupation code with id '00000000-0000-0000-0000-000000000000' not found' haben unterschiedliche ID's.
            🇬🇧 Unique ID of the error message. Example: Two error messages 'Occupation code with id '00000000-0000-0000-0000-000000000000' not found' have different IDs.
          type: string
        key:
          description: |
            🇩🇪 Key der Fehlermeldung. Beispiel: Zwei Fehlermeldungen 'Occupation code with id '00000000-0000-0000-0000-000000000000' not found' haben denselben Key.
            🇬🇧 Key of the error message. Example: Two error messages 'Occupation code with id '00000000-0000-0000-0000-000000000000' not found' have the same key.
          type: string
        args:
          description: |
            🇩🇪 Argumente für die Aufbereitung einer Fehlermeldung. Zum Beispiel: '00000000-0000-0000-0000-000000000000'
            🇬🇧 Arguments for formatting an error message. For example: '00000000-0000-0000-0000-000000000000'
          type: array
          items:
            type: string
      required:
        - message
        - id
        - key

  securitySchemes:
    ApiKeyAuth:
      description: |
        🇩🇪 Authentifizierung über Bearer-Token - siehe OAuth-Beispiele auf https://github.com/suva-ch/risk-api-demo-python/tree/main
        🇬🇧 Authentication via Bearer Token - see OAuth examples at https://github.com/suva-ch/risk-api-demo-python/tree/main
      type: http
      scheme: bearer
