openapi: 3.1.0
info:
  version: 1.0.0
  title: Lohnmeldung API
  description: |
    (DE) Beschreibt die gegenüber einem ERP angebotenen Schnittstellen auf Seite Suva für die Lohn- und Einsatzmeldung.
    (EN) Describes the interfaces offered to an ERP system by Suva for salary and mission declaration.
  license:
    name: Apache License 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

servers:
  - url: 'https://apitest.suva.ch/salary-declarations'
    description: Staging server
  - url: 'https://api.suva.ch/salary-declarations'
    description: Production server

tags:
  - name: Leased Employees
  - name: Messages
  - name: Mission Companies
  - name: Missions
  - name: Permanent Employees
  - name: Receipts
  - name: Salary Declarations
  - name: Temporary Work Agency Branches
  - name: Temporary Work Agency Consultants
  - name: Temporary Work Agency Regions
  - name: Temporary Work Agency Teams
  - name: UVG ISCO Salaries
  - name: Contact

paths:
  /v1/salary-declarations:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"

    get:
      description: |
        (DE) Gibt eine Liste von Lohnmeldungen zurück.

        (EN) Returns a list of salary declarations.
      tags:
        - Salary Declarations
      security:
        - ApiKeyAuth: []
      operationId: getSalaryDeclarations
      responses:
        "200":
          description: |
            (DE) Eine Liste mit Lohnmeldungen.

            (EN) A list of salary declarations.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/SalaryDeclaration"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"

    post:
      description: |
        (DE) Erstellt eine Lohnmeldung.

        (EN) Creates a salary declaration.
      tags:
        - Salary Declarations
      security:
        - ApiKeyAuth: []
      operationId: saveSalaryDeclaration
      requestBody:
        $ref: "#/components/requestBodies/SaveSalaryDeclaration"
      responses:
        "201":
          description: |
            (DE) Lohnmeldung erstellt.

            (EN) Salary declaration created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SalaryDeclaration"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "422":
          $ref: "#/components/responses/UnprocessableContentError"

  /v1/salary-declarations/{salaryDeclarationId}:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"

    get:
      description: |
        (DE) Gibt die Details einer bestehenden Lohnmeldung zurück.

        (EN) Returns the details of an existing salary declaration.
      tags:
        - Salary Declarations
      security:
        - ApiKeyAuth: []
      operationId: getSalaryDeclaration
      responses:
        "200":
          description: |
            (DE) Details einer Lohnmeldung.

            (EN) Details of a salary declaration.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SalaryDeclaration"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    put:
      description: |
        (DE) Aktualisiert eine Lohnmeldung.

        (EN) Updates a salary declaration.
      tags:
        - Salary Declarations
      security:
        - ApiKeyAuth: []
      operationId: updateSalaryDeclaration
      requestBody:
        $ref: "#/components/requestBodies/UpdateSalaryDeclaration"
      responses:
        "204":
          description: |
            (DE) Lohnmeldung aktualisiert.

            (EN) Salary declaration updated.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "422":
          $ref: "#/components/responses/UnprocessableContentError"

    patch:
      description: |
        (DE) Aktualisiert den Status einer Lohnmeldung.

        (EN) Update the state of a salary declaration.
      tags:
        - Salary Declarations
      security:
        - ApiKeyAuth: []
      operationId: patchSalaryDeclaration
      requestBody:
        $ref: "#/components/requestBodies/PatchSalaryDeclaration"
      responses:
        "200":
          description: |
            (DE) Lohnmeldung aktualisiert.

            (EN) Salary declaration updated.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SalaryDeclaration"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          $ref: "#/components/responses/UnprocessableContentError"

  /v1/salary-declarations/{salaryDeclarationId}/contact:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"

    get:
      description: |
        (DE) Gibt die Details eines bestehenden Kontaktes zurück.

        (EN) Returns the details of an existing contact.
      tags:
        - Contact
      security:
        - ApiKeyAuth: [ ]
      operationId: getContact
      responses:
        "200":
          description: |
            (DE) Details eines Kontaktes.

            (EN) Details of a contact.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Contact"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    put:
      description: |
        (DE) Erstellt einen Kontakt oder ersetzt den bestehenden Kontakt. Es ist nur ein einziger Kontakt zugelassen.

        (EN) Create a new contact or replace the existing contact. Only one contact is allowed.
      tags:
        - Contact
      security:
        - ApiKeyAuth: [ ]
      operationId: saveContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contact"
              required:
                - contact
      responses:
        "204":
          description: |
            (DE) Kontakt erstellt.

            (EN) Contact created.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "422":
          $ref: "#/components/responses/UnprocessableContentError"

  /v1/salary-declarations/{salaryDeclarationId}/leased-employees:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"

    get:
      description: |
        (DE) Gibt eine Liste von Leihangestellten zurück.

        (EN) Returns a list of leased employees.
      tags:
        - Leased Employees
      security:
        - ApiKeyAuth: []
      operationId: getLeasedEmployees
      responses:
        "200":
          description: |
            (DE) Eine Liste mit Leihangestellten.

            (EN) A list of leased employees.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LeasedEmployee"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"

    put:
      description: |
        (DE) Erstellt oder aktualisiert Leihangestellte.

        (EN) Create or update leased employees.
      tags:
        - Leased Employees
      security:
        - ApiKeyAuth: []
      operationId: saveLeasedEmployees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deleteOmittedItems:
                  $ref: '#/components/schemas/DeleteOmittedItems'
                leasedEmployees:
                  type: array
                  items:
                    $ref: "#/components/schemas/LeasedEmployee"
              required:
                - leasedEmployees
      responses:
        "204":
          description: |
            (DE) Leihangestellte erstellt oder aktualisiert.

            (EN) Leased employees created or updated.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "422":
          $ref: "#/components/responses/UnprocessableContentError"

  /v1/salary-declarations/{salaryDeclarationId}/leased-employees/{employeeNumber}:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"
      - $ref: "#/components/parameters/EmployeeNumber"

    get:
      description: |
        (DE) Gibt die Details eines bestehenden Leihangestellten zurück.

        (EN) Returns the details of an existing leased employee.
      tags:
        - Leased Employees
      security:
        - ApiKeyAuth: []
      operationId: getLeasedEmployee
      responses:
        "200":
          description: |
            (DE) Details eines Leihangestellten.

            (EN) Details of a leased employee.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/LeasedEmployee"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      description: |
        (DE) Löscht einen bestehenden Leihangestellten.

        (EN) Deletes an existing leased employee.
      tags:
        - Leased Employees
      security:
        - ApiKeyAuth: []
      operationId: deleteLeasedEmployee
      responses:
        "204":
          description: |
            (DE) Leihangestellter gelöscht.

            (EN) Leased employee deleted.
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /v1/salary-declarations/{salaryDeclarationId}/messages:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"

    get:
      description: |
        (DE) Gibt eine Liste von Rückmeldungen zurück.

        (EN) Returns a list of messages.
      tags:
        - Messages
      security:
        - ApiKeyAuth: []
      operationId: getMessages
      responses:
        "200":
          description: |
            (DE) Eine Liste mit Rückmeldungen.

            (EN) A list of messages.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Message"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"

  /v1/salary-declarations/{salaryDeclarationId}/mission-companies:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"

    get:
      description: |
        (DE) Gibt eine Liste von Einsatzbetrieben zurück.

        (EN) Returns a list of mission companies.
      tags:
        - Mission Companies
      security:
        - ApiKeyAuth: []
      operationId: getMissionCompanies
      responses:
        "200":
          description: |
            (DE) Eine Liste mit Einsatzbetrieben.

            (EN) A list of mission companies.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/MissionCompany"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"

    put:
      description: |
        (DE) Erstellt oder aktualisiert Einsatzbetriebe.

        (EN) Create or update mission companies
      tags:
        - Mission Companies
      security:
        - ApiKeyAuth: []
      operationId: saveMissionCompanies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deleteOmittedItems:
                  $ref: '#/components/schemas/DeleteOmittedItems'
                missionCompanies:
                  type: array
                  items:
                    "$ref": "#/components/schemas/MissionCompany"
              required:
                - missionCompanies
      responses:
        "204":
          description: |
            (DE) Einsatzbetriebe erstellt oder aktualisiert.

            (EN) Mission companies created or updated.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "409":
          $ref: "#/components/responses/ConflictError"

  /v1/salary-declarations/{salaryDeclarationId}/mission-companies/{missionCompanyNumber}:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"
      - $ref: "#/components/parameters/MissionCompanyNumber"

    get:
      description: |
        (DE) Gibt die Details eines bestehenden Einsatzbetriebes zurück.

        (EN) Returns the details of an existing mission company.
      tags:
        - Mission Companies
      security:
        - ApiKeyAuth: []
      operationId: getMissionCompany
      responses:
        "200":
          description: |
            (DE) Details eines Einsatzbetriebes.

            (EN) Details of a mission company.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MissionCompany"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      description: |
        (DE) Löscht einen bestehenden Einsatzbetrieb.

        (EN) Deletes an existing mission company.
      tags:
        - Mission Companies
      security:
        - ApiKeyAuth: []
      operationId: deleteMissionCompany
      responses:
        "204":
          description: |
            (DE) Einsatzbetrieb gelöscht.

            (EN) Mission company deleted.
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /v1/salary-declarations/{salaryDeclarationId}/missions:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"

    get:
      description: |
        (DE) Gibt eine Liste von Einsätzen zurück.

        (EN) Returns a list of missions.
      tags:
        - Missions
      security:
        - ApiKeyAuth: []
      operationId: getMissions
      responses:
        "200":
          description: |
            (DE) Eine Liste mit Einsätzen.

            (EN) A list of missions.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Mission"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"

    put:
      description: |
        (DE) Erstellt oder aktualisiert Einsätze.

        (EN) Create or update missions.
      tags:
        - Missions
      security:
        - ApiKeyAuth: []
      operationId: saveMissions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deleteOmittedItems:
                  $ref: '#/components/schemas/DeleteOmittedItems'
                missions:
                  type: array
                  items:
                    "$ref": "#/components/schemas/Mission"
              required:
                - missions
      responses:
        "204":
          description: |
            (DE) Einsätze erstellt oder aktualisiert.

            (EN) Missions created or updated.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "422":
          $ref: "#/components/responses/UnprocessableContentError"

  /v1/salary-declarations/{salaryDeclarationId}/missions/{missionNumber}:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"
      - $ref: "#/components/parameters/MissionNumber"

    get:
      description: |
        (DE) Gibt die Details eines bestehenden Einsatzes zurück.

        (EN) Returns the details of an existing mission.
      tags:
        - Missions
      security:
        - ApiKeyAuth: []
      operationId: getMission
      responses:
        "200":
          description: |
            (DE) Details eines Einsatzes.

            (EN) Details of a mission.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Mission"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      description: |
        (DE) Löscht einen bestehenden Einsatz.

        (EN) Deletes an existing mission.
      tags:
        - Missions
      security:
        - ApiKeyAuth: []
      operationId: deleteMission
      responses:
        "204":
          description: |
            (DE) Einsatz gelöscht.

            (EN) Mission deleted.
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /v1/salary-declarations/{salaryDeclarationId}/permanent-employees:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"

    get:
      description: |
        (DE) Gibt eine Liste von Festangestellte zurück.

        (EN) Returns a list of permanent employees.
      tags:
        - Permanent Employees
      security:
        - ApiKeyAuth: []
      operationId: getPermanentEmployees
      responses:
        "200":
          description: |
            (DE) Eine Liste mit Festangestellten.

            (EN) A list of permanent employees.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PermanentEmployee"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"

    put:
      description: |
        (DE) Erstellt oder aktualisiert Festangestellte.

        (EN) Create or update permanent employees.
      tags:
        - Permanent Employees
      security:
        - ApiKeyAuth: []
      operationId: savePermanentEmployees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deleteOmittedItems:
                  $ref: '#/components/schemas/DeleteOmittedItems'
                permanentEmployees:
                  type: array
                  items:
                    $ref: "#/components/schemas/PermanentEmployee"
              required:
                - permanentEmployees
      responses:
        "204":
          description: |
            (DE) Festangestellte erstellt oder aktualisiert.

            (EN) Permanent employees created or updated.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "422":
          $ref: "#/components/responses/UnprocessableContentError"

  /v1/salary-declarations/{salaryDeclarationId}/permanent-employees/{employeeNumber}:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"
      - $ref: "#/components/parameters/EmployeeNumber"

    get:
      description: |
        (DE) Gibt die Details eines bestehenden Festangestellten zurück.

        (EN) Returns the details of an existing permanent employee.
      tags:
        - Permanent Employees
      security:
        - ApiKeyAuth: []
      operationId: getPermanentEmployee
      responses:
        "200":
          description: |
            (DE) Details eines Festangestellten.

            (EN) Details of a permanent employee.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PermanentEmployee"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      description: |
        (DE) Löscht einen bestehenden Festangestellten.

        (EN) Deletes an existing permanent employee.
      tags:
        - Permanent Employees
      security:
        - ApiKeyAuth: []
      operationId: deletePermanentEmployee
      responses:
        "204":
          description: |
            (DE) Festangestellter gelöscht.

            (EN) Permanent employee deleted.
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /v1/salary-declarations/{salaryDeclarationId}/receipts/{receiptId}:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"
      - $ref: "#/components/parameters/ReceiptId"

    get:
      description: |
        (DE) Gibt die Quittung für eine akzeptiere Lohnmeldung zurück.

        (EN) Returns the receipt of an accepted salary declaration.
      tags:
        - Receipts
      security:
        - ApiKeyAuth: []
      operationId: getReceipt
      responses:
        "200":
          description: |
            (DE) Quittung einer akzeptierten Lohnmeldung.
            
            (EN) Receipt of an accepted salary declaration.
          headers:
            Content-Disposition:
              schema:
                type: string
              example: attachment; filename="name.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /v1/salary-declarations/{salaryDeclarationId}/temporary-work-agency-branches:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"

    get:
      description: |
        (DE) Gibt eine Liste von Personalverleiher-Filialen zurück.

        (EN) Returns a list of temporary work agency branches.
      tags:
        - Temporary Work Agency Branches
      security:
        - ApiKeyAuth: []
      operationId: getTemporaryWorkAgencyBranches
      responses:
        "200":
          description: |
            (DE) Eine Liste mit Personalverleiher-Filialen.

            (EN) A list of temporary work agency branches.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TemporaryWorkAgencyBranch"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"

    put:
      description: |
        (DE) Erstellt oder aktualisiert Personalverleiher-Filialen.

        (EN) Create or update temporary work agency branches.
      tags:
        - Temporary Work Agency Branches
      security:
        - ApiKeyAuth: []
      operationId: saveTemporaryWorkAgencyBranches
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deleteOmittedItems:
                  $ref: '#/components/schemas/DeleteOmittedItems'
                temporaryWorkAgencyBranches:
                  type: array
                  items:
                    "$ref": "#/components/schemas/TemporaryWorkAgencyBranch"
              required:
                - temporaryWorkAgencyBranches
      responses:
        "204":
          description: |
            (DE) Personalverleiher-Filialen erstellt oder aktualisiert.

            (EN) Temporary work agency branches created or updated.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "422":
          $ref: "#/components/responses/UnprocessableContentError"

  /v1/salary-declarations/{salaryDeclarationId}/temporary-work-agency-branches/{temporaryWorkAgencyBranchNumber}:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"
      - $ref: "#/components/parameters/TemporaryWorkAgencyBranchNumber"

    get:
      description: |
        (DE) Gibt die Details eines bestehenden Personalverleiher-Filiale zurück.

        (EN) Returns the details of an existing temporary work agency branch.
      tags:
        - Temporary Work Agency Branches
      security:
        - ApiKeyAuth: []
      operationId: getTemporaryWorkAgencyBranch
      responses:
        "200":
          description: |
            (DE) Details einer Personalverleiher-Filiale.

            (EN) Details of a temporary work agency branch.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TemporaryWorkAgencyBranch"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      description: |
        (DE) Löscht eine bestehende Personalverleiher-Filiale.

        (EN) Deletes an existing temporary work agency branch.
      tags:
        - Temporary Work Agency Branches
      security:
        - ApiKeyAuth: []
      operationId: deleteTemporaryWorkAgencyBranch
      responses:
        "204":
          description: |
            (DE) Personalverleiher-Filiale gelöscht.

            (EN) temporary work agency branch deleted.
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /v1/salary-declarations/{salaryDeclarationId}/temporary-work-agency-regions:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"

    get:
      description: |
        (DE) Gibt eine Liste von Personalverleiher-Regionen zurück.

        (EN) Returns a list of temporary work agency regions.
      tags:
        - Temporary Work Agency Regions
      security:
        - ApiKeyAuth: []
      operationId: getTemporaryWorkAgencyRegions
      responses:
        "200":
          description: |
            (DE) Eine Liste mit Personalverleiher-Regionen.

            (EN) A list of temporary work agency regions.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TemporaryWorkAgencyRegion"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"

    put:
      description: |
        (DE) Erstellt oder aktualisiert Personalverleiher-Regionen.

        (EN) Create or update temporary work agency regions.
      tags:
        - Temporary Work Agency Regions
      security:
        - ApiKeyAuth: []
      operationId: saveTemporaryWorkAgencyRegions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deleteOmittedItems:
                  $ref: '#/components/schemas/DeleteOmittedItems'
                temporaryWorkAgencyRegions:
                  type: array
                  items:
                    "$ref": "#/components/schemas/TemporaryWorkAgencyRegion"
              required:
                - temporaryWorkAgencyRegions
      responses:
        "204":
          description: |
            (DE) Personalverleiher-Regionen erstellt oder aktualisiert.

            (EN) Temporary work agency regions created or updated.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "422":
          $ref: "#/components/responses/UnprocessableContentError"

  /v1/salary-declarations/{salaryDeclarationId}/temporary-work-agency-regions/{temporaryWorkAgencyRegionNumber}:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"
      - $ref: "#/components/parameters/TemporaryWorkAgencyRegionNumber"

    get:
      description: |
        (DE) Gibt die Details einer bestehenden Personalverleiher-Region zurück.

        (EN) Returns the details of an existing temporary work agency region.
      tags:
        - Temporary Work Agency Regions
      security:
        - ApiKeyAuth: []
      operationId: getTemporaryWorkAgencyRegion
      responses:
        "200":
          description: |
            (DE) Details einer Personalverleiher-Region.

            (EN) Details of a temporary work agency region.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TemporaryWorkAgencyRegion"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      description: |
        (DE) Löscht eine bestehende Personalverleiher-Region.

        (EN) Deletes an existing temporary work agency region.
      tags:
        - Temporary Work Agency Regions
      security:
        - ApiKeyAuth: []
      operationId: deleteTemporaryWorkAgencyRegion
      responses:
        "204":
          description: |
            (DE) Personalverleiher-Region gelöscht.

            (EN) Temporary work agency region deleted.
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /v1/salary-declarations/{salaryDeclarationId}/temporary-work-agency-teams:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"

    get:
      description: |
        (DE) Gibt eine Liste von Personalverleiher-Teams zurück.

        (EN) Returns a list of temporary work agency teams.
      tags:
        - Temporary Work Agency Teams
      security:
        - ApiKeyAuth: []
      operationId: getTemporaryWorkAgencyTeams
      responses:
        "200":
          description: |
            (DE) Eine Liste mit Personalverleiher-Teams.

            (EN) A list of temporary work agency teams.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TemporaryWorkAgencyTeam"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"

    put:
      description: |
        (DE) Erstellt oder aktualisiert Personalverleiher-Teams.

        (EN) Create or update temporary work agency teams.
      tags:
        - Temporary Work Agency Teams
      security:
        - ApiKeyAuth: []
      operationId: saveTemporaryWorkAgencyTeams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deleteOmittedItems:
                  $ref: '#/components/schemas/DeleteOmittedItems'
                temporaryWorkAgencyTeams:
                  type: array
                  items:
                    "$ref": "#/components/schemas/TemporaryWorkAgencyTeam"
              required:
                - temporaryWorkAgencyTeams
      responses:
        "204":
          description: |
            (DE) Personalverleiher-Teams erstellt oder aktualisiert.

            (EN) Temporary work agency teams created or updated.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "422":
          $ref: "#/components/responses/UnprocessableContentError"

  /v1/salary-declarations/{salaryDeclarationId}/temporary-work-agency-teams/{temporaryWorkAgencyTeamNumber}:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"
      - $ref: "#/components/parameters/TemporaryWorkAgencyTeamNumber"

    get:
      description: |
        (DE) Gibt die Details ein bestehende Personalverleiher-Team zurück.

        (EN) Returns the details of an existing temporary work agency team.
      tags:
        - Temporary Work Agency Teams
      security:
        - ApiKeyAuth: []
      operationId: getTemporaryWorkAgencyTeam
      responses:
        "200":
          description: |
            (DE) Details eines Personalverleiher-Teams.

            (EN) Details of a temporary work agency team.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TemporaryWorkAgencyTeam"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      description: |
        (DE) Löscht ein bestehendes Personalverleiher-Team.

        (EN) Deletes an existing temporary work agency team.
      tags:
        - Temporary Work Agency Teams
      security:
        - ApiKeyAuth: []
      operationId: deleteTemporaryWorkAgencyTeam
      responses:
        "204":
          description: |
            (DE) Personalverleiher-Team gelöscht.

            (EN) Temporary work agency team deleted.
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /v1/salary-declarations/{salaryDeclarationId}/temporary-work-agency-consultants:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"

    get:
      description: |
        (DE) Gibt eine Liste von Personalverleiher-Berater zurück.

        (EN) Returns a list of temporary work agency consultants.
      tags:
        - Temporary Work Agency Consultants
      security:
        - ApiKeyAuth: []
      operationId: getTemporaryWorkAgencyConsultants
      responses:
        "200":
          description: |
            (DE) Eine Liste mit Personalverleiher-Berater.

            (EN) A list of temporary work agency consultants.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TemporaryWorkAgencyConsultant"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"

    put:
      description: |
        (DE) Erstellt oder aktualisiert Personalverleiher-Berater.

        (EN) Create or update temporary work agency consultants.
      tags:
        - Temporary Work Agency Consultants
      security:
        - ApiKeyAuth: []
      operationId: saveTemporaryWorkAgencyConsultants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deleteOmittedItems:
                  $ref: '#/components/schemas/DeleteOmittedItems'
                temporaryWorkAgencyConsultants:
                  type: array
                  items:
                    "$ref": "#/components/schemas/TemporaryWorkAgencyConsultant"
              required:
                - temporaryWorkAgencyConsultants
      responses:
        "204":
          description: |
            (DE) Personalverleiher-Berater erstellt oder aktualisiert.

            (EN) Temporary work agency consultants created or updated.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "422":
          $ref: "#/components/responses/UnprocessableContentError"

  /v1/salary-declarations/{salaryDeclarationId}/temporary-work-agency-consultants/{temporaryWorkAgencyConsultantNumber}:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"
      - $ref: "#/components/parameters/TemporaryWorkAgencyConsultantNumber"

    get:
      description: |
        (DE) Gibt die Details eines bestehenden Personalverleiher-Berater zurück.

        (EN) Returns the details of an existing temporary work agency consultant.
      tags:
        - Temporary Work Agency Consultants
      security:
        - ApiKeyAuth: []
      operationId: getTemporaryWorkAgencyConsultant
      responses:
        "200":
          description: |
            (DE) Details eines Personalverleiher-Beraters.

            (EN) Details of a temporary work agency consultant.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TemporaryWorkAgencyConsultant"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      description: |
        (DE) Löscht einen bestehenden Personalverleiher-Berater.

        (EN) Deletes an existing temporary work agency consultant.
      tags:
        - Temporary Work Agency Consultants
      security:
        - ApiKeyAuth: []
      operationId: deleteTemporaryWorkAgencyConsultant
      responses:
        "204":
          description: |
            (DE) Personalverleiher-Berater gelöscht.

            (EN) Temporary work agency consultant deleted.
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /v1/salary-declarations/{salaryDeclarationId}/uvg-isco-salaries:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"

    get:
      description: |
        (DE) Gibt eine Liste von UVG-ISCO-Löhnen zurück.

        (EN) Returns a list of UVG ISCO salaries.
      tags:
        - UVG ISCO Salaries
      security:
        - ApiKeyAuth: []
      operationId: getUvgIscoSalaries
      responses:
        "200":
          description: |
            (DE) Eine Liste mit UVG-ISCO-Löhnen.

            (EN) A list of UVG ISCO salaries.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/UvgIscoSalary"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"

    put:
      description: |
        (DE) Erstellt oder aktualisiert UVG-ISCO-Löhne.

        (EN) Create or update UVG ISCO salaries.
      tags:
        - UVG ISCO Salaries
      security:
        - ApiKeyAuth: []
      operationId: saveUvgIscoSalaries
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deleteOmittedItems:
                  $ref: '#/components/schemas/DeleteOmittedItems'
                uvgIscoSalaries:
                  type: array
                  items:
                    "$ref": "#/components/schemas/UvgIscoSalary"
              required:
                - uvgIscoSalaries
      responses:
        "204":
          description: |
            (DE) UVG-ISCO-Löhne erstellt oder aktualisiert.

            (EN) UVG ISCO salaries created or updated.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "422":
          $ref: "#/components/responses/NotFoundError"

  /v1/salary-declarations/{salaryDeclarationId}/uvg-isco-salaries/{iscoSalaryNumber}:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/SalaryDeclarationId"
      - $ref: "#/components/parameters/IscoSalaryNumber"

    get:
      description: |
        (DE) Gibt die Details eines bestehenden UVG-ISCO-Lohnes zurück.

        (EN) Returns the details of an existing UVG ISCO salary.
      tags:
        - UVG ISCO Salaries
      security:
        - ApiKeyAuth: []
      operationId: getUvgIscoSalary
      responses:
        "200":
          description: |
            (DE) Details eines UVG-ISCO-Lohnes.

            (EN) Details of an UVG ISCO salary.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UvgIscoSalary"
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

    delete:
      description: |
        (DE) Löscht einen bestehenden UVG-ISCO-Lohn.

        (EN) Deletes an existing UVG ISCO salary.
      tags:
        - UVG ISCO Salaries
      security:
        - ApiKeyAuth: []
      operationId: deleteUvgIscoSalary
      responses:
        "204":
          description: |
            (DE) UVG-ISCO-Lohn gelöscht.

            (EN) UVG ISCO salary deleted.
        "401":
          $ref: "#/components/responses/NotAuthenticatedError"
        "404":
          $ref: "#/components/responses/NotFoundError"

components:
  securitySchemes:
    ApiKeyAuth:
      description: |
        (DE) Authentifizierung über Bearer-Token - siehe OAuth-Beispiele auf https://github.com/suva-ch/risk-api-demo-python/tree/main
        (EN) Authentication via Bearer Token - see OAuth examples at https://github.com/suva-ch/risk-api-demo-python/tree/main
      type: http
      scheme: bearer

  parameters:
    EmployeeNumber:
      name: employeeNumber
      description: |
        (DE) Eindeutige Personalnummer aus dem ERP-System.
        (EN) Unique employeeNumber from the ERP system.
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/EmployeeNumber"

    IscoSalaryNumber:
      name: iscoSalaryNumber
      description: |
        (DE) Eindeutige Nummer des Lohneintrags aus dem ERP-System.        
        (EN) Unique salaryNumber from the ERP system.
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/IscoSalaryNumber"

    MissionCompanyNumber:
      name: missionCompanyNumber
      description: |
        (DE) Eindeutige Nummer des Einsatzbetriebs aus dem ERP-System.        
        (EN) Unique MissionCompany number from the ERP system.
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/MissionCompanyNumber"

    MissionNumber:
      name: missionNumber
      description: |
        (DE) Eindeutige Einsatznummer aus dem ERP-System.        
        (EN) Unique missionNumber from the ERP system.
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/MissionNumber"

    ReceiptId:
      name: receiptId
      description: |
        (DE) Von der Suva vergebener eindeutiger Identifikator der Quittung.        
        (EN) Unique identifier of the reciept assigned by Suva.
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/ReceiptId"

    SalaryDeclarationId:
      name: salaryDeclarationId
      description: |
        (DE) Von der Suva vergebener eindeutiger Identifikator der Lohnmeldung.
        (EN) Unique identifier of the SalaryDeclaration assigned by Suva.
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/SalaryDeclarationId"

    TemporaryWorkAgencyBranchNumber:
      name: temporaryWorkAgencyBranchNumber
      description: |
        (DE) Eindeutige Nummer zur Filiale aus dem ERP-System.        
        (EN) Unique branch number from the ERP system.
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/TemporaryWorkAgencyBranchNumber"

    TemporaryWorkAgencyRegionNumber:
      name: temporaryWorkAgencyRegionNumber
      description: |
        (DE) Eindeutige Nummer zur Region aus dem ERP-System.        
        (EN) Unique region number from the ERP system.
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/TemporaryWorkAgencyRegionNumber"

    TemporaryWorkAgencyTeamNumber:
      name: temporaryWorkAgencyTeamNumber
      description: |
        (DE) Eindeutige Nummer zum Team aus dem ERP-System.        
        (EN) Unique team number from the ERP system.
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/TemporaryWorkAgencyTeamNumber"

    TemporaryWorkAgencyConsultantNumber:
      name: temporaryWorkAgencyConsultantNumber
      description: |
        (DE) Eindeutige Nummer zum Berater aus dem ERP-System.        
        (EN) Unique consultant number from the ERP system.
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/TemporaryWorkAgencyConsultantNumber"

    # headers

    X-Client-Vendor:
      name: X-Client-Vendor
      in: header
      description: |
        (DE) Name des Herstellers der Client-Anwendung.
        (EN) Name of the vendor responsible for the client application.
      required: true
      schema:
        type: string

    X-Client-Name:
      name: X-Client-Name
      in: header
      description: |
        (DE) Produkt-Name der Client-Anwendung.
        (EN) Product name of the client application.
      required: true
      schema:
        type: string

    X-Client-Version:
      name: X-Client-Version
      in: header
      description: |
        (DE) Version der Anwendung.
        (EN) Version of the application.
      required: true
      schema:
        type: string

  requestBodies:
    UpdateSalaryDeclaration:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              messageType:
                $ref: "#/components/schemas/SalaryDeclarationType"
            required:
              - messageType

    SaveSalaryDeclaration:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              messageType:
                $ref: "#/components/schemas/SalaryDeclarationType"
              accountingPeriodFrom:
                type: string
                format: date
                example: "2026-01-01"
              accountingPeriodUntil:
                type: string
                format: date
                example: "2026-01-31"
              customerNumber:
                description: |
                  (DE) Die Suva-Kundennummer
                  (EN) Suva customer ID
                type: string
                example: "8-01747-90000"
                pattern: '^\d{1}-\d{5}-\d{5}$'
              subNumber:
                description: |
                  (DE) Subnummer als 2-stellige Zahl.
                  (EN) Subnumber as a 2-digit code.
                type: string
                example: "01"
                pattern: '^\d{2}$'
            required:
              - messageType
              - accountingPeriodFrom
              - accountingPeriodUntil
              - customerNumber
              - subNumber

    PatchSalaryDeclaration:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              operation:
                type: string
                enum:
                  [
                    transmit_with_completion,
                    transmit_without_completion,
                    reopen,
                  ]
            required:
              - operation

  responses:
    BadRequestError:
      description: |
        (DE) Anfrage kann nicht verarbeitet werden.
        (EN) Request cannot be processed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    NotAuthenticatedError:
      description: |
        (DE) Keine gültigen Authentifizierungsdaten für die angeforderte Ressource vorhanden.
        (EN) No valid authentication data available for the requested resource.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    NotFoundError:
      description: |
        (DE) Die angeforderte Resource konnte nicht gefunden werden.
        (EN) The requested resource could not be found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    ConflictError:
      description: |
        (DE) Die Anfrage konnte nicht verarbeitet werden, da es einen Konflikt mit dem aktuellen Zustand der Resource gibt.
        (EN) The request could not be processed due to a conflict with the current state of the resource.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    UnprocessableContentError:
      description: |
        (DE) Die Anfrage konnte nicht verarbeiten werden, da sie ungültige Daten enthält.
        (EN) The request could not be processed because it contains invalid data.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    EmployeeNumber:
      description: |
        (DE) Nummer des Angestellten (ERP-System)
        (EN) Personnel number (ERP system)
      type: string

    IscoSalaryNumber:
      description: |
        (DE) Nummer des ISCO-Lohn (ERP-System)
        (EN) ISCO salary number (ERP system)
      type: string

    Language:
      description: |
        (DE) Sprache
        (EN) Language
      type: string
      enum: [de, fr, it, en]

    MissionCompanyNumber:
      description: |
        (DE) Nummer des Einsatzbetrieb (ERP-System)
        (EN) Mission company number (ERP system)
      type: string

    MissionNumber:
      description: |
        (DE) Nummer des Einsatz (ERP-System)
        (EN) Mission number (ERP system)
      type: string

    ReceiptId:
      description: |
        (DE) ID für eine Quittung.
        (EN) ID of a receipt.
      type: string
      format: uuid

    SalaryDeclarationId:
      description: |
        (DE) ID für eine Lohn- und Einsatzmeldung.
        (EN) ID of an salary and mission declaration.
      type: string
      format: uuid

    SalaryDeclarationType:
      description: |
        (DE) Meldungstyp: periodisch, Jahresmeldung definitiv, oder Jahresmeldung Ersatz
        (EN) Message type: periodic, annual report definitive or annual report replacement
      type: string
      enum: [periodic, annual_definitive, annual_replacement]

    TemporaryWorkAgencyBranchNumber:
      description: |
        (DE) Nummer des Personalverleiher Filiale (ERP-System)
        (EN) Temporary work agency branch number (ERP system)
      type: string

    TemporaryWorkAgencyRegionNumber:
      description: |
        (DE) Nummer des Personalverleiher Region (ERP-System)
        (EN) Temporary work agency region number (ERP system)
      type: string

    TemporaryWorkAgencyTeamNumber:
      description: |
        (DE) Nummer des Personalverleiher Team (ERP-System)
        (EN) Temporary work agency team number (ERP system)
      type: string

    TemporaryWorkAgencyConsultantNumber:
      description: |
        (DE) Nummer des Personalverleiher Berater (ERP-System)
        (EN) Temporary work agency consultant number (ERP system)
      type: string

    DeleteOmittedItems:
      description: |
        (DE) Wenn `true`, werden die ausgelassenen Items aus der Liste gelöscht. Default-Wert ist `false`.
        (EN) Whether the omitted items in the list should be deleted or left untouched. Defaults to `false`.
      type: boolean
      default: false

    LeasedEmployee:
      description: |
        (DE) Leihangestellter
        (EN) Leased employee
      allOf:
        - $ref: "#/components/schemas/Employee"

    Contact:
      description: |
        (DE) Kontakt für Rückfragen zur Lohnmeldung
        (EN) Contact for questions regarding the salary declaration
      type: object
      properties:
        firstName:
          description: |
            (DE) Vorname
            (EN) First name
          type: string
        lastName:
          description: |
            (DE) Nachname
            (EN) Last name
          type: string
        email:
          description: |
            (DE) E-Mail
            (EN) E-Mail
          type: string
        phoneNumber:
          description: |
            (DE) Telefon-Nummer
            (EN) Phone number
          type: string
      required:
        - firstName
        - lastName
        - email
        - phoneNumber

    Employee:
      description: |
        (DE) Angestellter
        (EN) Employee
      type: object
      properties:
        employeeNumber:
          $ref: "#/components/schemas/EmployeeNumber"
        firstName:
          description: |
            (DE) Vorname
            (EN) First name
          type: string
        lastName:
          description: |
            (DE) Nachname
            (EN) Last name
          type: string
        sex:
          description: |
            (DE) Geschlecht
            (EN) Gender
          type: string
          enum: [f, female, m, male]
        dateOfBirth:
          description: |
            (DE) Geburtsdatum
            (EN) Date of birth
          type: string
          format: date
        socialInsuranceIdentification:
          description: |
            (DE) AHV-Nummer
            (EN) Social insurance identification
          type: string
          pattern: '^\d{3}.\d{4}.\d{4}.\d{2}$'
          example: "756.1234.5678.90"
      required:
        - employeeNumber
        - lastName
        - firstName
        - sex
        - dateOfBirth

    Error:
      description: |
        (DE) Fehlermeldung
        (EN) Error message
      properties:
        message:
          description: |
            (DE) Die in englischer Sprache gelieferte Fehlermeldung. Beispiel: 'Occupation code with id '00000000-0000-0000-0000-000000000000' not found'.
            (EN) Error message provided in English. Example: 'Occupation code with id '00000000-0000-0000-0000-000000000000' not found'.
          type: string
        id:
          description: |
            (DE) Eindeutige ID der Fehlermeldung. Beispiel: Zwei Fehlermeldungen 'Occupation code with id '00000000-0000-0000-0000-000000000000' not found' haben unterschiedliche ID's.
            (EN) Unique ID of the error message. Example: Two error messages 'Occupation code with id '00000000-0000-0000-0000-000000000000' not found' have different IDs.
          type: string
        key:
          description: |
            (DE) Key der Fehlermeldung. Beispiel: Zwei Fehlermeldungen 'Occupation code with id '00000000-0000-0000-0000-000000000000' not found' haben denselben Key.
            (EN) Key of the error message. Example: Two error messages 'Occupation code with id '00000000-0000-0000-0000-000000000000' not found' have the same key.
          type: string
        args:
          description: |
            (DE) Argumente für die Aufbereitung einer Fehlermeldung.
            (EN) Arguments for formatting an error message.
          type: object
          additionalProperties:
            type: string
      required:
        - message
        - id
        - key

    LocalizedMessage:
      description: |
        (DE) Ein sprachbezogener Wert.
        (EN) A language-specific value.
      type: object
      properties:
        language:
          $ref: "#/components/schemas/Language"
        text:
          type: string
      required:
        - language
        - text

    Message:
      description: |
        (DE) Rückmeldung der Suva-Validierungen zu den übermittelten Lohn- und Einsatzdaten.
        (EN) Feedback from the Suva validations of the transmitted salary and mission data.
      type: object
      properties:
        id:
          description: |
            (DE) Eindeutige ID der Rückmeldung.
            (EN) Unique ID of the message.
          type: string
          format: uuid
        messageKey:
          description: |
            (DE) Eindeutige ID der Validierung Rückmeldung (ID pro Art der Validierung).
            (EN) Unique ID of the validation message (ID per validation type).
          type: string
        messageType:
          description: |
            (DE) Art der Rückmeldung.
            (EN) Type of the message.
          type: string
          enum: [warning, error]
        localizedMessages:
          description: |
            (DE) Die Rückmeldung in verschiedenen Sprachen.
            (EN) The message in different languages.
          type: array
          items:
            $ref: "#/components/schemas/LocalizedMessage"
        args:
          description:
            (DE) Argumente für die Aufbereitung einer eigenen Rückmeldung.
            (EN) Arguments for creating custom messages.
          type: object
          additionalProperties:
            type: string
      required:
        - id
        - messageKey
        - messageType
        - localizedMessages
        - args

    Mission:
      description: |
        (DE) Einsatz
        (EN) Mission
      type: object
      properties:
        missionNumber:
          $ref: "#/components/schemas/MissionNumber"
        employeeNumber:
          $ref: "#/components/schemas/EmployeeNumber"
        missionCompanyNumber:
          $ref: "#/components/schemas/MissionCompanyNumber"
        periodFrom:
          description: |
            (DE) Beginndatum der Einsatzperiode
            (EN) Start date of deployment period
          type: string
          format: date
        periodUntil:
          description: |
            (DE) Endedatum der Einsatzperiode
            (EN) End date of the employment period
          type: string
          format: date
        iscoOccupationTypeId:
          description: |
            (DE) ISCO-Berufsart
            (EN) ISCO occupation type
          type: string
          pattern: '^\d{5}$'
          example: "93130"
        occupationDescription:
          description: |
            (DE) Individuelle Berufsbezeichnung des Personalverleihers
            (EN) Individual job code selected by the temporary work agency
          type: string
        contractualJobTitle:
          description: |
            (DE) Spezifische Berufsbezeichnung des Personalverleihers für den Einsatz, falls abweichend vom individuellen Berufscode.
            (EN) Based on the individual job code, there is at most an additional input field specific to the mission
          type: string
        kindOfWagePayment:
          description: |
            (DE) Art der Lohnzahlung
            (EN) Type of salary payment
          type: string
          enum: [monthly, daily, hourly, lesson]
        monthlyWage:
          description: |
            (DE) Monatslohn (UVG-Basis). Zwingend wenn `kindOfWagePayment = monthly`
            (EN) Monthly salary (UVG basis). This field is mandatory if `kindOfWagePayment = monthly`
          type: number
          multipleOf: 0.01
        activityRate:
          description: |
            (DE) Beschäftigungsgrad. Zwingend wenn `kindOfWagePayment = monthly`
            (EN) Employment rate. This field is mandatory if `kindOfWagePayment = monthly`
          type: number
          multipleOf: 0.01
          minimum: 0
          maximum: 100
        totalDays:
          description: |
            (DE) Anzahl der geleisteten Arbeitstage. Zwingend wenn `kindOfWagePayment = daily`
            (EN) Number of working days in the deployment period. This field is mandatory if `kindOfWagePayment = daily`
          type: number
          multipleOf: 0.01
        dailyWage:
          description: |
            (DE) Geltender Tagesansatz (UVG-Basis). Zwingend wenn `kindOfWagePayment = daily`
            (EN) Current daily rate for this operation (UVG basis). This field is mandatory if `kindOfWagePayment = daily`
          type: number
          multipleOf: 0.01
        totalHours:
          description: |
            (DE) Anzahl der geleisteten Arbeitsstunden. Zwingend wenn `kindOfWagePayment = hourly`
            (EN) Number of hours worked during the deployment period. This field is mandatory if `kindOfWagePayment = hourly`
          type: number
          multipleOf: 0.01
        hourlyWage:
          description: |
            (DE) Geltender Stundensatz (UVG-Basis). Zwingend wenn `kindOfWagePayment = hourly`
            (EN) Applicable hourly rate for this operation (UVG basis). This field is mandatory if `kindOfWagePayment = hourly`
          type: number
          multipleOf: 0.01
        totalLessons:
          description: |
            (DE) Anzahl der geleisteten Lektionen. Zwingend wenn `kindOfWagePayment = lesson`
            (EN) Number of lessons completed during the deployment period. This field is mandatory if `kindOfWagePayment = lesson`
          type: number
          multipleOf: 0.01
        lessonWage:
          description: |
            (DE) Geltender Lektionsansatz (UVG-Basis). Zwingend wenn `kindOfWagePayment = lesson`
            (EN) Current Lesson Approach for this Operation (UVG basis). This field is mandatory if `kindOfWagePayment = lesson`
          type: number
          multipleOf: 0.01
        missionplace:
          description: |
            (DE) Einsatzort
            (EN) Mission place
          type: object
          properties:
            description:
              description: |
                (DE) Beschreibung des Einsatzortes
                (EN) Description of the location
              type: string
            zip:
              description: |
                (DE) Postleitzahl des Einsatzortes
                (EN) Postal code of the place of operation
              type: string
            contact:
              description: |
                (DE) Kontaktperson am Einsatzort
                (EN) Contact person at the operational facility
              type: object
              properties:
                firstName:
                  description: |
                    (DE) Vorname
                    (EN) First name
                  type: string
                lastName:
                  description: |
                    (DE) Nachname
                    (EN) Last name
                  type: string
                email:
                  description: |
                    (DE) E-Mail
                    (EN) E-Mail
                  type: string
                phoneNumber:
                  description: |
                    (DE) Telefon-Nummer
                    (EN) Phone number
                  type: string
                mobileNumber:
                  description: |
                    (DE) Mobiltelefon-Nummer
                    (EN) Mobilephone number
                  type: string
        temporaryWorkAgencyRegionNumber:
          description: |
            (DE) Nummer der zuständigen Region beim Personalverleiher, welche den Einsatz vermittelt bzw. verkauft hat.
            (EN) Reference to the region of the temporary work agency.
          $ref: "#/components/schemas/TemporaryWorkAgencyRegionNumber"
        temporaryWorkAgencyBranchNumber:
          description: |
            (DE) Nummer der zuständigen Filiale beim Personalverleiher, welche den Einsatz vermittelt bzw. verkauft hat.
            (EN) Reference to the nramch of the temporary work agency.
          $ref: "#/components/schemas/TemporaryWorkAgencyBranchNumber"
        temporaryWorkAgencyTeamNumber:
          description: |
            (DE) Nummer des zuständigen Teams beim Personalverleiher, welches den Einsatz vermittelt bzw. verkauft hat.
            (EN) Reference to the team of the temporary work agency.
          $ref: "#/components/schemas/TemporaryWorkAgencyTeamNumber"
        temporaryWorkAgencyConsultantNumber:
          description: |
            (DE) Nummer der zuständigen Person beim Personalverleiher, welche den Einsatz vermittelt bzw. verkauft hat.
            (EN) Reference to the consultant of the temporary work agency.
          $ref: "#/components/schemas/TemporaryWorkAgencyConsultantNumber"

      required:
        - missionNumber
        - employeeNumber
        - missionCompanyNumber
        - periodFrom
        - periodUntil
        - iscoOccupationTypeId
        - occupationDescription
        - kindOfWagePayment

    MissionCompany:
      description: |
        (DE) Die Einsatzfirma, bei welchen die Einsätze stattgefunden haben.
        (EN) The mission company in which the operations took place.
      type: object
      properties:
        missionCompanyNumber:
          $ref: "#/components/schemas/MissionCompanyNumber"
        uidNumber:
          description: (DE) Die Unternehmens-Identifikationsnummer (UID)
            (EN) Company Identification Number (UID)
          type: string
          example: "CHE-123.456.789"
        name:
          description: |
            (DE) Name des Einsatzbetriebes
            (EN) Name of the mission company
          type: string
        address:
          description: |
            (DE) Adresse des Einsatzbetriebes
            (EN) Address details of the mission company
          type: object
          properties:
            complementaryLine:
              description: |
                (DE) Adresszusatz
                (EN) Address supplement
              type: string
            street:
              description: |
                (DE) Strasse
                (EN) Street
              type: string
            postbox:
              description: |
                (DE) Postfach
                (EN) Postbox
              type: string
            locality:
              description: |
                (DE) Lokalität wie Region / Provinz
                (EN) Locality as Region / Province
              type: string
            zipCode:
              description: |
                (DE) Postleitzahl
                (EN) Zip code
              type: string
            city:
              description: |
                (DE) Ort
                (EN) City
              type: string
            country:
              description: |
                (DE) Land
                (EN) Country
              type: string
              example: CH
          required:
            - zipCode
            - city
      required:
        - missionCompanyNumber
        - name

    PermanentEmployee:
      description: |
        (DE) Festangestellter
        (EN) Permanent employee
      allOf:
        - $ref: "#/components/schemas/Employee"
        - type: object
          properties:
            employmentPeriodFrom:
              description: |
                (DE) Beginndatum der Anstellung (innerhalb der accountingPeriod). Bei Anstellung vor dem Abrechnungsjahr: 1.1. des Abrechnungsjahrs
                (EN) Start date of employment (within accountingPeriod). If the permanent employee was already employed before the accounting year, the 1st of January of the accounting year is transmitted.
              type: string
              format: date
            employmentPeriodUntil:
              description: |
                (DE) Endedatum der Anstellung (innerhalb der accountingPeriod). Bei Weiterbeschäftigung nach dem Abrechnungsjahr: 31.12. des Abrechnungsjahrs
                (EN) End date of employment (within accountingPeriod). If the permanent employee remains employed after the accounting year, the 31.12. of the accounting year is transmitted
              type: string
              format: date
            activityRate:
              description: |
                (DE) Beschäftigungsgrad in Prozent
                (EN) Employment rate in percent
              type: number
              format: float
              minimum: 0
              maximum: 100
              example: 80
            occupationDescription:
              description: |
                (DE) Individuelle Berufsbezeichnung des Personalverleihers
                (EN) Individual job code
              type: string
            unsteadyEmployed:
              description: |
                (DE) Wenn `true` ist der Festangestellte unregelmässig angestellt.
                (EN) If `true` the employment is irregular and therefore no degree of employment can be specified.
              type: boolean
      required:
        - employeeNumber
        - lastName
        - firstName
        - sex
        - dateOfBirth
        - employmentPeriodFrom
        - employmentPeriodUntil
        - occupationDescription
        - unsteadyEmployed

    SalaryDeclaration:
      description: |
        (DE) Lohn- und Einsatzdeklaration
        (EN) Salary and mission declaration
      type: object
      properties:
        declarationId:
          $ref: "#/components/schemas/SalaryDeclarationId"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        status:
          description: |
            (DE) Status der Lohn- und Einsatzdeklaration
            (EN) Status of the salary and mission declaration
          type: string
          enum:
            [
              open,
              transmitted,
              processing,
              completion_pending,
              completion_obsolete,
              accepted,
              refused,
              deleted,
            ]
        transmittedOn:
          description: |
            (DE) Zeitpunkt der Übermittlung
            (EN) Timestamp of transmission
          type: string
          format: date-time
        messageType:
          $ref: "#/components/schemas/SalaryDeclarationType"
        accountingPeriodFrom:
          type: string
          format: date
        accountingPeriodUntil:
          type: string
          format: date
        customerNumber:
          description: |
            (DE) Die Suva-Kundennummer
            (EN) Suva customer ID
          type: string
          example: "8-01747-90000"
          pattern: '^\d{1}-\d{5}-\d{5}$'
        subNumber:
          description: |
            (DE) Subnummer als 2-stellige Zahl.
            (EN) Subnumber as a 2-digit code.
          type: string
          example: "01"
          pattern: '^\d{2}$'
        receipts:
          type: array
          items:
            title: Receipt
            properties:
              language:
                $ref: '#/components/schemas/Language'
              url:
                type: string
                format: uri
        completionUrls:
          type: array
          items:
            title: CompletionUrl
            properties:
              language:
                $ref: '#/components/schemas/Language'
              url:
                type: string
                format: uri
      required:
        - declarationId
        - createdAt
        - status
        - messageType
        - accountingPeriodFrom
        - accountingPeriodUntil
        - customerNumber
        - subNumber

    TemporaryWorkAgencyBranch:
      description: |
        (DE) Die zuständige Filiale beim Personalverleiher, welche den Einsatz vermittelt bzw. verkauft hat.
        (EN) Branch of the temporary work agency.
      type: object
      properties:
        branchNumber:
          $ref: "#/components/schemas/TemporaryWorkAgencyBranchNumber"
        description:
          description: |
            (DE) Bezeichnung der Filiale.
            (EN) Description of the branch.
          type: string
        regionNumber:
          $ref: "#/components/schemas/TemporaryWorkAgencyRegionNumber"
      required:
        - branchNumber

    TemporaryWorkAgencyRegion:
      description: |
        (DE) Die zuständige Region beim Personalverleiher, welche den Einsatz vermittelt bzw. verkauft hat.
        (EN) Region of the temporary work agency.
      type: object
      properties:
        regionNumber:
          $ref: "#/components/schemas/TemporaryWorkAgencyRegionNumber"
        description:
          description: |
            (DE) Bezeichnung der Region.
            (EN) Description of the region.
          type: string
      required:
        - regionNumber

    TemporaryWorkAgencyTeam:
      description: |
        (DE) Das zuständige Team beim Personalverleiher, welche den Einsatz vermittelt bzw. verkauft hat.
        (EN) Team of the temporary work agency.
      type: object
      properties:
        teamNumber:
          $ref: "#/components/schemas/TemporaryWorkAgencyTeamNumber"
        description:
          description: |
            (DE) Bezeichnung des Teams.
            (EN) Description of the team.
          type: string
        branchNumber:
          $ref: "#/components/schemas/TemporaryWorkAgencyBranchNumber"
      required:
        - teamNumber

    TemporaryWorkAgencyConsultant:
      description: |
        (DE) Die zuständige Person beim Personalverleiher, welche den Einsatz vermittelt bzw. verkauft hat.
        (EN) Consultant of the temporary work agency.
      type: object
      properties:
        consultantNumber:
          $ref: "#/components/schemas/TemporaryWorkAgencyConsultantNumber"
        firstName:
          description: |
            (DE) Vorname
            (EN) First name
          type: string
        lastName:
          description: |
            (DE) Nachname
            (EN) Last name
          type: string
        teamNumber:
          $ref: "#/components/schemas/TemporaryWorkAgencyTeamNumber"
      required:
        - consultantNumber

    UvgIscoSalary:
      description: |
        (DE) UVG-ISCO-Löhne: Lohnsummen pro Betriebsteil, ISCO-Berufsart und BU/NBU-Code für jeden Angestellten.
        (EN) LAA isco salary: Sum of salaries per company part, ISCO occupation type and AP/ANP-Code for each employee.
      type: object
      properties:
        iscoSalaryNumber:
          $ref: "#/components/schemas/IscoSalaryNumber"
        companyPartCode:
          description: |
            (DE) Buchstabe des zugehörigen Betriebsteils.
            (EN) Letter of the associated company part.
          type: string
          example: "A"
          pattern: "^[A-Z]$"
        iscoOccupationTypeId:
          description: |
            (DE) ISCO-Berufsart
            (EN) ISCO occupation type
          type: string
          pattern: '^\d{5}$'
          example: "93130"
        buNbuApAnpCode:
          description: |
            (DE) BU/NBU-Code: 
               * `0` - nicht UVG-versichert
               * `1` - BUV- und NBUV-versichert mit NBUV-Abzug
               * `2` - BUV- und NBUV-versichert ohne NBUV-Abzug
               * `3` - nur BUV-versichert
            (EN) AP/ANP-Code:
              * `0` - not LAA insured
              * `1` - AP- and ANP-insured with ANP deduction
              * `2` - AP- and ANP-insured without ANP deduction
              * `3` - only AP-insured
          type: integer
          enum: [0, 1, 2, 3]
        uvgLaaGrossSalary:
          description: |
            (DE) UVG-Bruttolohn: Summe aller aufbauenden Lohnarten.
            (EN) LAA gross salary: Sum of all constituting salary types.
          type: number
          multipleOf: 0.01
        uvgLaaBaseSalary:
          description: |
            (DE) UVG-Basislohn: Summe aller UVG-pflichtigen Lohnarten, ohne Rücksicht auf den versicherten Höchstlohn und den BU/NBU-Code.
            (EN) LAA base salary: Sum of all LAA liable salary types, regardless of the insured maximum salary and the AP/ANP code.
          type: number
          multipleOf: 0.01
        uvgLaaContributorySalary:
          description: |
            (DE) UVG-Lohn: Beitragspflichtiger Lohn, berechnet aufgrund der UVG-Basislohn für die versicherten Personen unter Berücksichtigung des Höchstlohnes.
            (EN) LAA salary: Contribution-liable salary, calculated based on the LAA base salary for the insured persons taking into account the maximum salary.
          type: number
          multipleOf: 0.01
        leasedEmployeeNumber:
          description: |
            (DE) Referenz auf den Leihangestellten. Zwingend bei Leihangestellten.
            (EN) Reference to the leased employee. Mandatory for leased employees.
          $ref: "#/components/schemas/EmployeeNumber"
        permanentEmployeeNumber:
          description: |
            (DE) Referenz auf den Festangestellten. Zwingend bei Festangestellten.
            (EN) Reference to the permanent employee. Mandatory for permanent employees.
          $ref: "#/components/schemas/EmployeeNumber"
      required:
        - iscoSalaryNumber
        - companyPartCode
        - iscoOccupationTypeId
        - buNbuApAnpCode
        - uvgLaaGrossSalary
        - uvgLaaBaseSalary
        - uvgLaaContributorySalary
