openapi: 3.1.0

info:
  version: 0.10.0
  title: Policendaten Schadenmeldung API
  description: |
    🇩🇪 Diese API liefert Policendaten basierend auf dem Ereignis-Datum für eine Schadenmeldung.

    🇬🇧 This API provides policy data based on the event date for an accident report. 123
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://apitest.suva.ch/policies
    description: Staging server
  - url: https://api.suva.ch/policies
    description: Production server

tags:
  - name: Policendaten

paths:
  /v1/policies/{customerId}:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/CustomerIdParam"

    get:
      description: |
        🇩🇪 Liefert eine Liste von Subnummern basierend auf dem Ereignis-Datum und der Suva KundenNr. 

        🇬🇧 Provides a list of subnumbers based on the event date and the Suva customer ID. I am adding something new.
      tags:
        - Policendaten
      operationId: getPolicy
      parameters:
        - $ref: "#/components/parameters/EventDateParam"
      responses:
        "200":
          description: |
            🇩🇪 Liste von Subnummern der Police.

            🇬🇧 List of policy subnumbers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubNumber"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"

  /v1/policies/{customerId}/{language}/{gender}:
    parameters:
      - $ref: "#/components/parameters/X-Client-Vendor"
      - $ref: "#/components/parameters/X-Client-Name"
      - $ref: "#/components/parameters/X-Client-Version"
      - $ref: "#/components/parameters/CustomerIdParam"
      - $ref: "#/components/parameters/LanguageParam"
      - $ref: "#/components/parameters/GenderParam"

    get:
      description: |
        🇩🇪 Liefert eine gefilterte Liste von Subnummern basierend auf Sprache und Geschlecht.

        🇬🇧 Provides a filtered list of subnumbers based on language and gender.
      tags:
        - Policendaten
      operationId: getPolicyFiltered
      parameters:
        - $ref: "#/components/parameters/EventDateParam"
      responses:
        "200":
          description: |
            🇩🇪 Gefilterte Liste von Subnummern.

            🇬🇧 Filtered list of subnumbers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubNumberFiltered"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"

components:
  parameters:
    X-Client-Vendor:
      name: X-Client-Vendor
      in: header
      description: |
        🇩🇪 Name des Herstellers der Client-Anwendung.

        🇬🇧 Name of the vendor responsible for the client application.
      required: false
      schema:
        type: string
      example: "Acme Corporation"

    X-Client-Name:
      name: X-Client-Name
      in: header
      description: |
        🇩🇪 Produkt-Name der Client-Anwendung.

        🇬🇧 Product name of the client application.
      required: false
      schema:
        type: string
      example: "PayrollPro"

    X-Client-Version:
      name: X-Client-Version
      in: header
      description: |
        🇩🇪 Version der Anwendung.

        🇬🇧 Version of the application.
      required: false
      schema:
        type: string
      example: "2.5"

    CustomerIdParam:
      name: customerId
      in: path
      required: true
      schema:
        type: string
      description: |
        🇩🇪 Die Suva-Kundennummer (z.B. 8-01747-90000).

        🇬🇧 Suva customer ID (e.g., 8-01747-90000).

    EventDateParam:
      name: eventDate
      in: query
      required: true
      description: |
        🇩🇪 Das Datum des Unfall-Ereignisses. Wenn das aktuelle Tagesdatum verwendet wird, muss die Schnittstelle
        später erneut mit dem Ereignis-Datum des Schadens aufgerufen werden, insbesondere bei einem Jahreswechsel,
        um sicherzustellen, dass die in der Schadenmeldung referenzierten Objekte zum Ereignis-Datum gültig sind.
        **Einschränkung:** Datum muss <= Tagesdatum sein und nicht weiter zurück als das vorhergehende Kalenderjahr.

        🇬🇧 The event date. If the current date is used, the API should later be called again
        with the accident event date, particularly if a year change occurs in between,
        to ensure objects referenced in the accident report are valid at the event date.
        **Restriction:** The date must be <= today's date and no earlier than the previous calendar year.
      schema:
        type: string
        format: date

    GenderParam:
      name: gender
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/Gender"
      description: |
        🇩🇪 Gewünschtes Geschlecht für die Berufsbezeichnungen.

        🇬🇧 Desired gender for occupation descriptions.

    LanguageParam:
      name: language
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/Language"
      description: |
        🇩🇪 Gewünschte Sprache für die Berufsbezeichnungen.

        🇬🇧 Desired language for occupation descriptions.

  schemas:
    SubNumber:
      description: |
        🇩🇪 Datenstruktur einer Subnummer.

        🇬🇧 Data structure of a subnumber.
      type: object
      properties:
        subNumberCode:
          type: string
          description: |
            🇩🇪 Subnummer als 2-stellige Zahl.

            🇬🇧 Subnumber as a 2-digit code.
          example: "01"
          pattern: '^\d{2}$'
        description:
          type: string
          description: |
            🇩🇪 Beschreibung der Subnummer in der Sprache des Kunden (keine Mehrsprachigkeit verfügbar).
            Bei anonymem Zugriff werden diese Daten nicht geliefert.

            🇬🇧 Description of the subnumber in the customer's language (multilingualism not available).
            This data is not available for anonymous access.
        premiumModel:
          type: string
          enum: [ UVG_CLASSIC, UVG_OCCUPATION_CODES ]
          description: |
            🇩🇪 Prämienmodell der Subnummer.
            UVG_CLASSIC: klassisch UVG mit Risiko-Ermittlung auf Basis von Betriebsbeschreibung
            UVG_OCCUPATION_CODES: UVG mit Risiko-Ermittlung auf Basis von Berufscodes

            🇬🇧 Premium Model of subnumber.
            UVG_CLASSIC: classic UVG with risk identification based on description of operation
            UVG_OCCUPATION_CODES: UVG with risk identification based on occupation codes
        companyParts:
          type: array
          description: |
            🇩🇪 Enthält Betriebsteile, wenn das Prämienmodell `UVG_CLASSIC` ist.

            🇬🇧 Contains company parts if the premium model is `UVG_CLASSIC`.
          items:
            $ref: "#/components/schemas/CompanyPart"
        occupationCodes:
          type: array
          description: |
            🇩🇪 Enthält Berufscodes, wenn das Prämienmodell `UVG_OCCUPATION_CODES` ist.

            🇬🇧 Contains occupation codes if the premium model is `UVG_OCCUPATION_CODES`.
          items:
            $ref: "#/components/schemas/OccupationCode"
      required:
        - subnumberCode
        - premiumModel

    SubNumberFiltered:
      description: |
        🇩🇪 Gefilterte Datenstruktur einer Subnummer mit sprachspezifischen Beschreibungen.

        🇬🇧 Filtered data structure of a subnumber with language-specific descriptions.
      type: object
      properties:
        subNumberCode:
          type: string
          description: |
            🇩🇪 Subnummer als 2-stellige Zahl.

            🇬🇧 Subnumber as a 2-digit code.
          example: "01"
          pattern: '^\d{2}$'
        description:
          type: string
        premiumModel:
          type: string
          enum: [ UVG_CLASSIC, UVG_OCCUPATION_CODES ]
        companyParts:
          type: array
          items:
            $ref: "#/components/schemas/CompanyPartFiltered"
        occupationCodes:
          type: array
          items:
            $ref: "#/components/schemas/OccupationCodeFiltered"
      required:
        - subNumberCode
        - premiumModel

    CompanyPart:
      description: |
        🇩🇪 Ein Betriebsteil innerhalb einer Subnummer.

        🇬🇧 A company part within a subnumber.
      type: object
      properties:
        companyPartCode:
          type: string
          description: |
            🇩🇪 Buchstabe zur Identifikation des Betriebsteils.

            🇬🇧 Letter identifier for the company part.
          example: "A"
          pattern: "^[A-Z]$"
        description:
          type: string
          description: |
            🇩🇪 Textbeschreibung des Betriebsteils in der Sprache des Kunden (keine Mehrsprachigkeit verfügbar).
            Bei anonymem Zugriff werden diese Daten nicht geliefert.

            🇬🇧 Text description of the company part in the customer's language (multilingualism not available).
            This data is not available for anonymous access.
      required:
        - companyPartCode

    CompanyPartFiltered:
      type: object
      properties:
        companyPartCode:
          type: string
          example: "A"
          pattern: "^[A-Z]$"
        description:
          type: string
      required:
        - companyPartCode

    OccupationCode:
      description: |
        🇩🇪 Details zu einem Berufscode.

        🇬🇧 Details of an occupation code.
      type: object
      properties:
        occupationCodeNumber1:
          type: string
          description: |
            🇩🇪 Berufscode-Nummer 1 - vom Kunden vergeben

            🇬🇧 Occupation code number 1 - assigned by the customer.
        occupationCodeNumber2:
          type: string
          description: |
            🇩🇪 Berufscode-Nummer 2 - vom Kunden vergeben

            🇬🇧 Occupation code number 2 - assigned by the customer.
        suvaOccupationCodeId:
          type: string
          format: uuid
          description: |
            🇩🇪 Eindeutige ID des Suva-Berufscodes.

            🇬🇧 Unique ID of the Suva occupation code.
        iscoOccupationTypeId:
          description: |
            🇩🇪 5-Stellige Nummer für Berufsarten aus der Schweizer Berufsnomenklatur.
            z.B. '71140' für 'Eisenleger'

            🇬🇧 5-digit code for occupations from the Swiss occupational nomenclature.
            e.G. '71140' for 'Reinforcing iron and rebar worker'
          type: integer
          example: 71140
        iscoBerufscodeId:
          description: |
            🇩🇪 8-Stellige Nummer für den entsprechenden Berufscode aus der Schweizer Berufsnomenklatur.
            z.B. '33304096' für 'DV-Organisator'
            Suva-eigene Isco-Berufscodes starten mit einem 'S'
            z.B. 'S0000001'

            🇬🇧 8-digit code for occupations from the Swiss occupational nomenclature.
            e.G. '33304096' for 'Organizational person in informatics'
            Suva own Isco occupation codes start with an 'S'
            e.G. 'S0000001'
          type: string
          example: "33304096"
        active:
          type: boolean
          description: |
            🇩🇪 Gibt an, ob der Berufscode aktiv ist.

            🇬🇧 Indicates if the occupation code is active.
        descriptions:
          type: array
          description: |
            🇩🇪 Sprach- und geschlechtsspezifische Berufsbezeichnung.

            🇬🇧 Language- and gender-specific occupation description.
          items:
            $ref: "#/components/schemas/OccupationDescription"
        companyPartCode:
          type: string
          description: |
            🇩🇪 Buchstabe des zugehörigen Betriebsteils für Schadenmeldung

            🇬🇧 Letter of the associated company part for accident reporting.
          example: "A"
          pattern: "^[A-Z]$"
      required:
        - suvaOccupationCodeId
        - iscoOccupationTypeId
        - iscoBerufscodeId
        - active
        - companyPartCode

    OccupationCodeFiltered:
      type: object
      properties:
        occupationCodeNumber1:
          type: string
        occupationCodeNumber2:
          type: string
        suvaOccupationCodeId:
          type: string
          format: uuid
        iscoOccupationTypeId:
          type: integer
        iscoBerufscodeId:
          type: string
        active:
          type: boolean
        description:
          type: string
        companyPartCode:
          type: string
          example: "A"
          pattern: "^[A-Z]$"
      required:
        - suvaOccupationCodeId
        - iscoOccupationTypeId
        - iscoBerufscodeId
        - active
        - companyPartCode

    OccupationDescription:
      description: |
        🇩🇪 Sprach- und geschlechtsspezifische Berufsbezeichnung.

        🇬🇧 Language- and gender-specific occupation description.
      type: object
      properties:
        language:
          $ref: "#/components/schemas/Language"
        gender:
          $ref: "#/components/schemas/Gender"
        value:
          type: string
          description: |
            🇩🇪 Text in der entsprechenden Sprache.

            🇬🇧 Text in the corresponding language.
      required:
        - language
        - gender
        - value

    Gender:
      description: |
        🇩🇪  Geschlecht

        🇬🇧 Gender
      type: string
      enum: [ female, genderless, male ]

    Language:
      description: |
        🇩🇪  Sprache

        🇬🇧 Language
      type: string
      enum: [ de, fr, it, en ]

    Error:
      description: |
        🇩🇪 Fehlermeldung

        🇬🇧 Error message.
      properties:
        message:
          description: |
            🇩🇪 Die in englischer Sprache gelieferte Fehlermeldung. Beispiel: 'Berufscode-Liste for Partner-Nr. '9999999999' not found'.

            🇬🇧 Error message provided in English. Example: 'Occupation code list for partner number '9999999999' not found.'
          type: string
        id:
          description: |
            🇩🇪 Eindeutige ID der Fehlermeldung. Beispiel: Zwei Fehlermeldungen 'Berufscode-Liste for Partner-Nr. '9999999999' not found' haben unterschiedliche ID's.

            🇬🇧 Unique ID of the error message. Example: Two error messages 'Occupation code list for partner number '9999999999' not found' have different IDs.
          type: string
        key:
          description: |
            🇩🇪 Key der Fehlermeldung. Beispiel: Zwei Fehlermeldungen 'Berufscode-Liste for Partner-Nr. '9999999999' not found' haben denselben Key.

            🇬🇧 Key of the error message. Example: Two error messages 'Occupation code list for partner number '9999999999' not found' have the same key.
          type: string
        args:
          description: |
            🇩🇪 Argumente für die Aufbereitung einer Fehlermeldung. Zum Beispiel: '9999999999'

            🇬🇧 Arguments for formatting an error message. For example: '9999999999'
          type: array
          items:
            type: string
      required:
        - message
        - id
        - key

  responses:
    BadRequestError:
      description: |
        🇩🇪 Anfrage kann nicht verarbeitet werden.
        🇬🇧 Request cannot be processed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    NotFoundError:
      description: |
        🇩🇪 Die angeforderte Resource konnte nicht gefunden werden.
        🇬🇧 The requested resource could not be found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
